/*Media Queries*/
@media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }
  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }
  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }
}

/*create a variable*/
:root {
  --green-color: rgba(120, 255, 58, 1);
  --purple-color: rgba(75, 8, 82, 1);
  --background-color: rgb(255, 255, 255);
  --red-color: red;
}
.primary-color {
  color: var(--green-color);
}
header {
  background-color: var(--green-color);
}
body {
  background-color: rgb(255, 255, 255);
}
i {
  padding: 5px;
}

/*Navbar*/
.navbar {
  background-color: var(--purple-color);
}
i.fa-bars {
  color: var(--green-color);
  font-size: 20px;
}
.navbar-brand:hover {
  text-shadow: 3px 3px 5px var(--green-color);
  transition: 1s;
  padding-left: 5px;
}
/*About Dropdown*/

.dropdown-item:hover,
.dropdown-toggle:active {
  background: none;
}
#about:hover > .dropdown-menu {
  display: block;
  color: rgba(75, 8, 82, 1);
  background-color: var(--green-color);
}
#about > div > a.dropdown-item {
  color: var(--purple-color);
}
.dropdown-item {
  color: var(--green-color);
}
.dropdown-menu {
  background-color: var(--purple-color);
  padding: 0.5em;
}
.dropdown-item:hover {
  transition: 0.5s;
  color: red !important;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.navbar-nav > li > a.active,
.navbar-brand {
  color: var(--green-color) !important;
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  transition: 1s;
}
.navbar-brand {
  font-size: 40px !important;
}
.navbar-nav > li > a {
  color: #fff !important;
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  transition: 0.5s;
}
.navbar-nav > li > a:hover {
  text-shadow: 2px 2px 3px white;
  transition: 0.5s;
}
.navbar-nav > li > a.active:hover {
  text-shadow: 2px 2px 3px var(--green-color);
  transition: 0.5s;
}

/*Navbar transitions*/

ul.navbar-nav > li.nav-item {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
}
ul.navbar-nav > li.nav-item:last-child {
  margin-right: 0;
}
ul.navbar-nav > li.nav-item:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
ul.navbar-nav > li.nav-item:hover:after {
  width: 100%;
  background: white;
}
ul.navbar-nav > li.nav-item.active:hover:after {
  width: 100%;
  background: var(--green-color) !important;
}

/*buttons*/
#cart {
  align-items: center;
}
.wrapper {
  position: relative;
}
.wrapper span {
  text-align: center;
  position: absolute;
  top: -3px;
  right: -7px;
  background-color: var(--purple-color);
  width: 100%;
  border-radius: 100%;
  font-size: 10px;
  height: 15px;
  width: 15px;
  color: var(--green-color);
}
.btn-group > button {
  font-size: 16px;
  outline: none;
  border: none;
  transition: 0.5s;
  font-family: "Patrick Hand", cursive;
}
#btn {
  text-align: right;
}
.btn-group > button:hover,
button:focus {
  color: red;
  transition: 0.5s;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
a.dropdown-item.active {
  background-color: none;
  transition: 0.5s;
  color: red;
  background: none;
}

.navbar-toggler {
  color: rgba(86, 224, 86, 0.7);
  border: none;
}
h2 {
  color: var(--purple-color);
  font-family: "Rock Salt", cursive;
  padding-top: 15px;
}
@media only screen and (max-width: 800px) {
  .navbar-nav.ml-auto {
    background: var(--purple-color);
    opacity: 80%;
  }
  a.nav-link,
  a.dropdown-item {
    text-align: center;
  }
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 15px;
    line-height: 0.3;
  }
  #about > div > a.dropdown-item {
    text-align: center;
  }
  h2 {
    font-size: 27px;
    padding: 20px;
  }
}

@media only screen and (max-width: 300px) {
  h2 {
    font-size: 24px !important;
  }
  .container > a.navbar-brand {
    font-size: 18px !important;
  }
  #btn {
    text-align: center;
  }
  .btn-group > button {
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  h2 {
    font-size: 24px !important;
  }
  .container > a.navbar-brand {
    font-size: 30px !important;
  }
}

/*Font Size*/
body {
  font-size: calc(0.75em + 1vmin);
}
@media only screen and (min-width: 240px) {
  .footer-copyright {
    font-size: 1em;
  }
  .page-footer > div > div > div > p {
    font-size: 0.8em;
  }
  .page-footer > div > div > div > ul > li {
    font-size: 0.8em;
  }
  .page-footer > div > div > div > h5 {
    font-size: 1em;
  }
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

/*Shop Header*/

/*.container .dropdown-toggle,
.container .dropdown-item {
  font-size: 0.7em;
}*/
.header-links a {
  font-size: 0.9em;
  text-decoration: none;
  color: white;
}

/*Shop Products*/
main {
  margin-top: 5%;
}
img {
  padding: 5%;
  transition: 0.5s;
}
img:hover {
  padding: 0%;
  transition: 0.5s;
}
.product-top img {
  width: 100%;
  align-items: center;
}
.overlay-left {
  transition: 0.5s;
  display: inline;
  opacity: 0;
  position: absolute;
  margin-left: 0;
  align-items: center;
}
.overlay-left > button > i.fa {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  color: black;
  height: auto;
  width: auto;
  font-size: 20px;
  margin: 7px;
  margin-top: 2.5em;
  color: var(--purple-color);
}
.overlay-left > button {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  align-items: center;
}
.product-top:hover .overlay-left {
  opacity: 1;
  margin-left: 5%;
  transition: 0.5s;
}
.product-bottom .fa {
  color: orange;
  font-size: 10px;
}
.product-bottom h3 {
  font-size: 20px;
  font-weight: bold;
}
.product-bottom h5 {
  font-size: 15px;
  padding-bottom: 10px;
}

/*Go to top*/
i {
  color: var(--purple-color);
  font-size: 20px;
}
#gototop {
  text-align: center;
  margin: 10px;
}
i:hover {
  margin-bottom: 1%;
  transition: 0.5s;
}

/*Footer*/
footer {
  background-color: var(--green-color);
}
h5 {
  color: var(--purple-color);
  font-family: "Patrick Hand", cursive;
}
footer p,
footer li {
  font-size: 10pt;
}
footer p > a {
  color: var(--purple-color);
  transition: 0.5s;
}
footer ul {
  margin-top: 30px;
}
footer a {
  color: var(--purple-color);
  transition: 0.5s;
}
footer > div > div > div > ul > li > a:hover {
  color: red;
  padding-left: 10px;
  transition: 0.5s;
}
footer > div > div > div > p > a:hover {
  color: red;
  padding-left: 10px;
  transition: 0.5s;
}

.footer-copyright {
  background-color: rgb(75, 8, 82);
  color: var(--green-color);
  opacity: 100%;
}
.footer-copyright > a:hover {
  color: red;
  transition: 0.5s;
}
.footer-copyright > a {
  color: var(--green-color);
}

/*Modal*/
.shopping-cart {
  width: 750px;
  height: 470px;
  margin: 80px auto;
  background: var(--background-color);
  box-shadow: 0px 0px 5px 3px var(--green-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.modal-lg {
  width: 750px !important;
}
.content {
  overflow: auto;
}
.title {
  height: 60px;
  padding: 20px 30px;
  color: var(--purple-color);
  font-size: 18px;
  font-weight: 400;
}
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  border-bottom: 1px solid #e1e8ee;
}

.item:nth-child(3) {
  border-bottom: 1px solid #e1e8ee;
}
.delete {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete {
  display: inline-block;
  cursor: pointer;
}
.delete {
  width: 18px;
  height: 17px;
}
.image {
  margin-right: 50px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity input {
  border: none;
  text-align: center;
  width: 20px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
  margin: 20px;
}
.quantity {
  margin-left: 10px;
  margin-top: -50px;
  align-items: center;
}

.plus,
.minus,
.delete {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer !important;
  color: var(--purple-color);
  position: relative;
}
.minus {
  margin-left: 60px;
  margin-top: -45px;
}
.plus {
  margin-top: 30px;
}

i:focus,
input:focus {
  outline: 10;
}
.total-price {
  width: 83px;
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
  margin-left: 20px;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: 400px;
    overflow: auto;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 70%;
  }
  .image,
  .qty,
  .description,
  .total-price {
    width: 100%;
    text-align: center;
    margin: 6px;
    align-items: center;
  }
  .delete,
  .plus,
  .minus,
  .quantity {
    align-items: center;
    position: relative;
    text-align: center;
  }
  .plus {
    margin-left: 35% !important;
    position: relative !important;
    cursor: pointer !important;
  }
  .minus {
    margin-left: 60%;
  }
  .quantity {
    align-items: center;
  }
  .delete {
    margin: 20px;
  }
}
@media (max-width: 500px) {
  .plus {
    margin-left: 33% !important;
  }
  .minus {
    margin-left: 60%;
  }
}
@media (max-width: 400px) {
  .plus {
    margin-left: 27% !important;
  }
  .minus {
    margin-left: 60%;
  }
}
@media (max-width: 300px) {
  .plus {
    margin-left: 23% !important;
  }
  .minus {
    margin-left: 60%;
  }
}
.progress-bar {
  width: 30%;
  background-color: var(--purple-color);
}
.progress {
  background-color: var(--green-color);
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
@media (max-width: 800px) {
  .progress-bar {
    color: var(--purple-color);
  }
}
.image > img {
  width: 150px;
}
@media (max-width: 600px) {
  .modal-lg {
    width: 100% !important;
  }
  body::-webkit-scrollbar,
  .modal::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  body,
  .modal {
    -ms-overflow-style: none;
  }
}
.modal-footer > button {
  background-color: var(--purple-color);
  color: white;
}
.modal-footer > button:hover,
.modal-footer > button:focus {
  background-color: var(--purple-color);
  color: var(--green-color);
}
button.close,
button.close:hover {
  color: var(--purple-color);
}
/*modal 2 */
#mymodal2.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

#mymodal2 .container {
  background-color: var(--background-color);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

#mymodal2 input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: var(--purple-color);
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

#mymodal2 .btn {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

#mymodal2 .btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  #mymodal2.row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
#mymodal2 .progress-bar {
  width: 60%;
}
