/*Media Queries*/
@media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }
  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }
  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }
}
/*Color Variables*/
:root {
  --green-color: rgba(120, 255, 58, 1);
  --purple-color: rgba(75, 8, 82, 1);
  --white-color: rgb(255, 255, 255);
  --red-color: red;
  --black-color: black;
}

body {
  background-color: var(--white-color);
  font-size: calc(0.75em + 1vmin);
}
/*--------------- Responsive Font Sizes---------------*/
@media only screen and (min-width: 240px) {
  h1 {
    font-size: 2em;
  }
  #title {
    font-size: 2em;
  }
  h3#location {
    font-size: 1em;
  }
  #welcome {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.5em;
  }
  .footer-copyright {
    font-size: 1em;
  }
  .page-footer > div > div > div > p {
    font-size: 0.8em;
  }
  .page-footer > div > div > div > ul > li {
    font-size: 0.8em;
  }
  .page-footer > div > div > div > h5 {
    font-size: 1em;
  }
}
/*--------------- Responsive Font Sizes end---------------*/

/*---------------Navbar---------------*/
.navbar {
  background-color: var(--purple-color);
}
i.fa-bars {
  color: var(--green-color);
  font-size: 20px;
}
.navbar-brand:hover {
  text-shadow: 3px 3px 5px var(--green-color);
  transition: 1s;
  padding-left: 5px;
}
.navbar-brand {
  font-size: 40px !important;
}
.navbar-nav > li > a {
  color: #fff !important;
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  transition: 0.5s;
}
.navbar-nav > li > a:hover {
  text-shadow: 2px 2px 3px white;
  transition: 0.5s;
}
.navbar-nav > li > a.active,
.navbar-brand {
  color: var(--green-color) !important;
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  transition: 1s;
}
.navbar-nav > li > a.active:hover {
  text-shadow: 2px 2px 3px var(--green-color);
  transition: 0.5s;
}

/*About Dropdown*/
.dropdown-item:hover,
.dropdown-toggle:active {
  background: none;
}
#about:hover > .dropdown-menu {
  display: block;
  color: var(--purple-color);
  background-color: var(--green-color);
}
#about > div > a.dropdown-item {
  color: var(--purple-color);
}
.dropdown-item {
  color: var(--green-color);
}
.dropdown-menu {
  background-color: var(--purple-color);
  padding: 0.5em;
}
.dropdown-item:hover {
  transition: 0.5s;
  color: var(--red-color) !important;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

/*Navbar transitions*/
.navbar-toggler {
  color: rgba(86, 224, 86, 0.7);
  border: none;
}
ul.navbar-nav > li.nav-item {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
}
ul.navbar-nav > li.nav-item:last-child {
  margin-right: 0;
}
ul.navbar-nav > li.nav-item:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
ul.navbar-nav > li.nav-item:hover:after {
  width: 100%;
  background: var(--white-color);
}
ul.navbar-nav > li.nav-item.active:hover:after {
  width: 100%;
  background: var(--green-color) !important;
}

/*Responsive Navbar*/
@media only screen and (max-width: 800px) {
  .navbar-nav.ml-auto {
    background: var(--purple-color);
    opacity: 80%;
  }
  a.nav-link,
  a.dropdown-item {
    text-align: center;
  }
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 15px;
    line-height: 0.3;
  }
  #about > div > a.dropdown-item {
    text-align: center;
  }
}
@media only screen and (max-width: 300px) {
  .container > a.navbar-brand {
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 400px) {
  .container > a.navbar-brand {
    font-size: 30px !important;
  }
}
/*---------------Navbar end---------------*/

/*---------------Carousel---------------*/
.carousel-indicators > li {
  background-color: var(--green-color);
  opacity: 90%;
}
.carousel-indicators > li.active {
  background-color: var(--purple-color);
  opacity: 100%;
  animation: zoomIn;
  animation-duration: 2s;
  transition: 0.5s;
}
.carousel-item {
  height: 90vh;
  min-width: 150vh;
  min-height: 200px;
  background: no-repeat center center scroll;
  background-size: cover;
  box-shadow: 0px 50px 200px var(--black-color) inset;
}
.carousel-item > img {
  width: 100%;
  height: 100%;
  align-self: center;
  opacity: 100%;
  filter: sepia(60%) saturate() opacity(90%) contrast();
  box-shadow: 0 0 100px var(--black-color) inset;
}
.carousel-caption {
  bottom: 120px;
  align-items: center;
}
h3 {
  letter-spacing: 5px;
  margin: 15px;
  font-family: "Rock Salt", cursive;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 3px 3px 5px var(--green-color);
}
.carousel-caption > p > a {
  background-color: var(--purple-color);
  color: var(--white-color);
  padding: 7px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Amatic SC", cursive;
  position: relative;
  text-shadow: none;
  font-size: 25px;
  transition: 0.5s;
}
.carousel-caption > p > a:hover {
  color: var(--green-color);
  transition: 0.5s;
}
.carousel-caption > p {
  color: var(--white-color);
  letter-spacing: 4px;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  text-shadow: 2px 2px 5px var(--black-color);
  text-transform: uppercase;
}
.animate__animated {
  animation-delay: 2s;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 15px;
}
i {
  color: var(--black-color);
  font-size: 20px;
}
h3 {
  opacity: 100%;
  color: var(--black-color);
}

/*Responsive Carousel*/
@media only screen and (max-width: 500px) {
  .carousel-caption {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .carousel-indicators {
    display: none;
  }
}
/*---------------Carousel end---------------*/

/*---------------Content---------------*/
h1 {
  font-family: "Patrick Hand", cursive;
}
#content.container {
  margin-top: 50px;
}
#content.container > p {
  text-align: justify;
}
#content.container > div > img {
  max-width: 500px;
  height: auto;
  margin: auto auto;
  border: 2px solid purple;
  border-radius: 5%;
  cursor: pointer;
}
.image-container {
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 20px;
}
span#credit {
  text-align: right;
  font-style: italic;
  display: block;
}
span#caption {
  display: block;
  text-align: center;
  font-style: italic;
}
/*Responsive Content*/
@media only screen and (max-width: 500px) {
  #content.container > div > img {
    max-width: 300px;
  }
}
@media only screen and (max-width: 400px) {
  #content.container > div > img {
    max-width: 200px;
  }
}
@media only screen and (max-width: 300px) {
  #content.container > div > img {
    max-width: 170px;
  }
}
/*---------------Content end---------------*/

/*---------------Modal: View Images---------------*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--black-color);
  background-color: rgba(0, 0, 0, 0.95);
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.close {
  top: 15px;
  padding-right: 20px;
  color: var(--white-color);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--green-color);
  text-decoration: none;
  cursor: pointer;
}
#captionmodal {
  color: var(--green-color);
}
/*Modal Animation*/
@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
.modal-content,
#captionmodal {
  animation-name: zoom;
  animation-duration: 0.6s;
  text-align: center;
  margin-top: 20px;
}
/*Responsive Modal*/
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .close {
    margin-bottom: 20px;
  }
}
/*---------------Modal end---------------*/

/*---------------Go to top---------------*/
#gototop {
  text-align: center;
  margin: 10px;
}
i {
  color: var(--purple-color);
  font-size: 20px;
}
i:hover {
  margin-bottom: 1%;
  transition: 0.5s;
}
/*---------------Go to top end---------------*/

/*---------------Footer---------------*/
footer {
  background-color: var(--green-color);
}
h5 {
  color: var(--purple-color);
  font-family: "Patrick Hand", cursive;
}
footer p,
footer li {
  font-size: 10pt;
}
footer p > a {
  color: var(--purple-color);
  transition: 0.5s;
}
footer ul {
  margin-top: 30px;
}
footer a {
  color: var(--purple-color);
  transition: 0.5s;
}
footer > div > div > div > ul > li > a:hover {
  color: var(--red-color);
  padding-left: 10px;
  transition: 0.5s;
}
footer > div > div > div > p > a:hover {
  color: var(--red-color);
  padding-left: 10px;
  transition: 0.5s;
}
.footer-copyright {
  background-color: var(--purple-color);
  color: var(--green-color);
  opacity: 100%;
}
.footer-copyright > a:hover {
  color: var(--red-color);
  transition: 0.5s;
}
.footer-copyright > a {
  color: var(--green-color);
}
/*---------------Footer end---------------*/
